<a href="https://colab.research.google.com/github/Shriya-345/IPLDashboard/blob/main/python_coding_practice_placment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#write a program that determines whether an alphabet,digit or whitespace was entered in python

In [ ]:
def checkvalues(char):
  if char.isalpha():
    return ("entering a alphavalues")
  elif char.isdigit():
    return "entering a valiue"
  elif char.isspace():
    return "entering a valiue"
  else:
    return "invalidinput"
char=input()
result=checkvalues(char)
print(result)

invalidinput

#count number of lowercase uppercae characters digit in python

In [ ]:
def count_characters(s):
    lowercase_count = 0
    uppercase_count = 0
    digit_count = 0

    for char in s:
        if char.islower():
            lowercase_count += 1
        elif char.isupper():
            uppercase_count += 1
        elif char.isdigit():
            digit_count += 1

    return lowercase_count, uppercase_count, digit_count

input_string = input()
lowercase=count_characters(input_string)
uppercase=count_characters(input_string)
digits = count_characters(input_string)

print(lowercase)
print(uppercase)
print(digits)

ABCabc123
(3, 3, 3)
(3, 3, 3)
(3, 3, 3)

#write a program on sum of series

In [ ]:
# Function to calculate the sum of the series
def sum_of_series(n):
    total_sum = 0
    for i in range(1, n + 1):
        total_sum += i  # Since i^2 / i simplifies to i
    return total_sum

# Input: n
n = int(input("Enter the value of n: "))

# Output: sum of the series
result = sum_of_series(n)
print(f"The sum of the series for n = {n} is: {result}")

Enter the value of n: 3
The sum of the series for n = 3 is: 6

#write a program to print number,itssquare,its cube  repetedlt rangge(1,n)

In [ ]:
# Function to print number, its square, and its cube for the range (1, n)
def print_number_square_cube(n):
    print("Number\tSquare\tCube")
    for i in range(1, n + 1):
        print(f"{i}\t{i**2}\t{i**3}")

# Input: n
n = int(input("Enter the value of n: "))

# Output: print number, its square, and its cube for the range (1, n)
print_number_square_cube(n)

#floyd's triangle

In [ ]:

def floydTriangle(n):

	val = 1
	for i in range(1, n + 1):

		for j in range(1, i + 1):
			print(val, end = " ")
			val += 1

		print("")

floydTriangle(6)

# This code is contributed by
# Smitha Dinesh Semwal

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21

#dispay sinx value

In [ ]:
import math
x=int(input())
for i in range(0,360,15):
  radian=math.radians(i)
  sinvalue=math.sin(radian)
  print(sinvalue)

30
0.0
0.25881904510252074
0.49999999999999994
0.7071067811865475
0.8660254037844386
0.9659258262890683
1.0
0.9659258262890683
0.8660254037844387
0.7071067811865476
0.49999999999999994
0.258819045102521
1.2246467991473532e-16
-0.2588190451025208
-0.5000000000000001
-0.7071067811865475
-0.8660254037844384
-0.9659258262890683
-1.0
-0.9659258262890684
-0.8660254037844386
-0.7071067811865477
-0.5000000000000004
-0.2588190451025207

#